<%# blog = blog #reminder of blog %>
<div class="blog preview">
	<div class="header" >
		<h4> <%= blog.title %> </h4>
		<div>
			<%= image_tag "blogs/#{File.basename( blog.image )}" %>
		</div>
		<div class="content">
			<%= blog.content %>
		</div>
	</div>
</div>