<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Register</h4>
      </div>
      <div class="modal-body">
        <form class="form">
          <div class="form-group" >
            <label for="registerNickname" >Nickname</label>
            <input id="registerNickname" class="form-control" name="nickname" placeholder="Your Nickname" />
          </div>
          <div class="form-group" >
            <label for="registerEmail" >Email</label>
            <input id="registerEmail" class="form-control" name="email" placeholder="Your Email" />
          </div>
          <div class="form-group" >
            <label for="registerPassword" >Password</label>
            <input id="registerPassword" class="form-control" type="password" name="password" placeholder="Your password" />
          </div>
          <div class="form-group" >
            <label for="registerCPassword" >Confirm Password</label>
            <input id="registerCPassword" class="form-control" type="cpassword" name="password" placeholder="Your password" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Register</button>
      </div>
    </div>
  </div>
</div>