.top-pad{
	padding-top:50px;
}

.container.main{
	padding-top:50px;
	width:80%;
	border:1px solid #888;
}


/*Mobile*/

/*Desktop*/
media="all"
@media (min-width: 1200px)
nav.nav-bar .container{
	width:80% !important;
}
